### R ###
# History Files

.Rhistory
.Rapp.history

# Session Data Files
.RData

# User-specific files
.Ruserdata

# Output files from R CMD build
/*.tar.gz

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

### Additional Files ###
inst/doc
Meta
.DS_Store
GeoLift.Rproj
website/website/
